version: '3.8'
services:
  redis-pic-container:
    image: redis:alpine
    networks:
      - app-net
    ports:
      - 6380:6379

  pic-backend:
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 3001:3001
    depends_on:
      - redis-pic-container
      - mysql-container
    networks:
      - app-net
    env_file:
      - .env

networks:
  app-net:
    driver: bridge
